<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mossywell.BSR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Mossywell.BSR.Properties.Settings>
            <setting name="router_username" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="router_password" serializeAs="String">
                <value>sky</value>
            </setting>
            <setting name="url_check_timeout" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="urls" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>http://www.ebay.co.uk</string>
                        <string>http://www.google.co.uk</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="custom_commands_sample" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>/bin/sh+-c+'PATH=/bin:/sbin:/usr/bin:/usr/sbin;/usr/sbin/utelnetd+-l+/bin/sh'</string>
                        <string>/usr/sbin/adslctl+configure+--snr+120</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="custom_commands" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="url_check_interval" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="router_ip_override" serializeAs="String">
                <value />
            </setting>
            <setting name="router_stats_interval" serializeAs="String">
                <value>15000</value>
            </setting>
            <setting name="router_command_timeout" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="max_logfile_count" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="logging_level" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="url_check_interval_when_rebooting" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="startup_delay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="snr_reboot_threshold" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="auto_version_check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="url_check_disabled" serializeAs="String">
                <value>False</value>
            </setting>
        </Mossywell.BSR.Properties.Settings>
    </userSettings>
    <system.net>
        <settings>
            <httpWebRequest useUnsafeHeaderParsing="true" />
        </settings>
    </system.net>
</configuration>